@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-main: #020617;        
    --bg-card: rgba(255, 255, 255, 0.03);
    --text-main: #F8FAFC;        
    --text-dim: #94A3B8;        
    --indigo-glow: #6366F1;
    --blue-electric: #0EA5E9;
    --brand-gradient: linear-gradient(135deg, var(--indigo), var(--electric-blue));
    --border: rgba(255, 255, 255, 0.1);
}

[data-theme='light'] {
    --bg-main: #F8FAFC;        
    --bg-card: rgba(0, 0, 0, 0.03);
    --text-main: #0F172A;        
    --text-dim: #475569;         /* Muted slate */
    --indigo-glow: #4F46E5;      /* Slightly deeper for contrast */
    --blue-electric: #0284C7;
    --brand-gradient: linear-gradient(135deg, var(--indigo), var(--electric-blue));
    --orange-gradient:linear-gradient(135deg, #FF4D00 0%, #FFB800 100%);
    --border: rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
       transition: all 0.7s ease;
    transition: background-color 0.3s ease, color 0.3s ease; 
  
}
.auth{
    opacity: 1;
    background: none;
   
}
.auth-hidden{
    opacity: 0; 
    background: none;
}