.main-idea-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem;
    gap: 2rem;
    z-index: 1000   ;
}
.main-idea-card{
    padding: 2rem;
    max-width: 900px;
    width: 100%;
}
.main-idea-card h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}
.main-idea-card p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
}   